body {
    background-color: yellow;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 0px;
    background-color: black;    
}

table th {
background-color: red;
color: white
}

td.Horas {
    background-color: blue;
    color:white;
}

td.SR {
    background-color: rgb(32, 140, 223);
}

td.SI {
    background-color: green;
}

td.SOR {
    background-color:rgb(255, 84, 255) ;
}

td.EM {
    background-color: red;
}

td.ING {
    background-color: rgb(244, 120, 5);
}

td.AW    {
    background-color: rgb(189, 189, 83);
}

td.Break {
    background-color: rgb(227, 223, 223);
}

hr {color: black;
}

dl dt { font-weight: bold;
        font-style: initial;
}

